@import '../../common/colors.scss';

.title { 
    font-size: 1.4rem;
    font-weight: 200;
    letter-spacing: 0.2rem;
}
.moviedetailMain{
    margin: 5rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.imageRight, .imageRight img{
    width: 20%;
    min-width: 15rem;
}
.metaData span{
    margin-right: 0.8rem;
    margin-top: 1.4rem;
    margin-bottom: 1.2rem;
    color: $font-secondary;
}

.overview{
    font-size: 0.8em;
    margin: 1rem auto;
    line-height: 1.6;
    max-width:fit-content ;
    justify-content: start;
}

