@import '../../common/colors.scss';

.title { 
    font-size: 1.4rem;
    font-weight: 200;
    letter-spacing: 0.2rem;
}
.moviedetailMain{
    margin: 5rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.imageRight, .imageRight img{
    width: 20%;
    min-width: 15rem;
}
.metaData span{
    margin-right: 1.2rem;
    margin-top: 1.4rem;
    margin-bottom: 1.2rem;
    color: $font-secondary;
}

.overview{
    font-size: 0.8em;
    margin: 1rem auto;
    line-height: 1.6;
    max-width:fit-content ;
    justify-content: start;
}

// table, tr, td { 
//     border:1px solid $font-primary;
// }
td, th{
    padding: 0.8rem;
}
.tableMain{
    display: flex;
    gap: 1rem;
   

}
.tableHead tr{
    text-align: justify;
    margin: 1rem;
    padding: 3rem;
    color: $font-secondary;

}
.tableBody{
    margin-top: 0.2rem;
}
.data{
    margin-left: 4rem;
    display: flex;

    flex-direction: column;
}
 a{
    text-decoration: none;
    color: #f18593;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    // color: $extra-color;
}


