
//https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557//
$primary-color : #1D3557;
$dark : #06131b;

$secondary-color : #457B9D;
$font-primary : #F1FAEE;
$font-secondary : #A8DADC;
$extra-color : #E63946;

$font-family : 'Poppins', sans-serif;